In [183]:
import numpy as np
import pandas as pd

In [184]:
# 读取数据
bank_data = pd.read_excel("./data.xlsx")

In [185]:
bank_data.head()

   序号  行名       A        B        C       D         E       F       G
0   1  交通  0.3433   8.9094  20.6813  3.5214   79.5984  4.5574  5.0023
1   2  中信  0.4830  13.2682   0.0000  1.9519  101.4817  4.3646  5.1070
2   3  光大  0.4035  13.4909  39.0131  3.3498   78.4041  3.6151  5.5005
3   4  华夏  0.8377  17.4040   0.0000  3.2115  138.6181  5.9182  5.2022
4   5  民生  0.8383  25.0591   8.8965  2.8677   84.7411  4.5657  4.9068

In [186]:
# 正向化
labels = bank_data.keys()[2:]

In [187]:
labels

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G'], dtype='object')

In [188]:
data = bank_data[labels].values

In [189]:
data[:, 2] = np.max(data[:, 2]) - data[:, 2]
data[:, 3] = np.max(data[:, 3]) - data[:, 3]

In [190]:
a = 90
data[:, 4] = 1 - np.abs(data[:, 4] - a)/np.max(np.abs(data[:, 4] - a))

In [191]:
# 标准归一化
ymax = 1
ymin = 0.002
for i in range(len(labels)):
    data[:, i] = (ymax - ymin) * (data[:, i] - np.min(data[:, i]))/(np.max(data[:, i]) - np.min(data[:, i])) + ymin

In [192]:
# 计算信息熵
m = len(bank_data.index)
n = len(labels)
P = np.zeros((m, n))
E = np.zeros(n)
for i in range(n):
    P[:, i] = data[:, i]/np.sum(data[:, i])

In [193]:
for i in range(n):
    E[i] = -1/np.log(m)*np.sum(P[:, i]*np.log(P[:, i]))

In [194]:
E

array([0.86987992, 0.88656438, 0.94838007, 0.92377223, 0.95517581,
       0.78689395, 0.93733808])

In [195]:
# 计算权重和得分
w = (1 - E)/np.sum(1 - E)

In [199]:
score = data@w

In [200]:
Score = 100 * score/np.max(score)

In [205]:
for i in range(len(Score)):
    name = bank_data['行名'][i]
    print('{}银行的得分为{}'.format(name, Score[i]))

交通银行的得分为55.22686968640612
中信银行的得分为74.8128518423185
光大银行的得分为51.226687076435915
华夏银行的得分为85.69451914502261
民生银行的得分为92.15585777670681
广发银行的得分为50.60200006086442
深发银行的得分为100.0
招商银行的得分为77.58956572233534
兴业银行的得分为83.03155607935089
浦发银行的得分为93.40898903564262
烟台银行的得分为82.55569710230513
蚌埠银行的得分为28.160943174434422